*.padl
.android/
.atom/
.babel.json
.bash_history
.bash_sessions/
.CFUserTextEncoding
.cocoapods/
.config/.config/git/ignore
.config/configstore
.config/filezilla
.elm/
.docker/
.emacs.d/
.emulator_console_auth_token
.ethash/
.gitconfig
.gnupg_pre_2.1/
.gnupg/
.gradle/
.itmstransporter/
.lesshst
.local/share/
.local/bin/
.ngrok2/
.node_repl_history
.node-gyp/
.npm/
.oracle_jre_usage/
.pgpass
.psql_history
.putty/
.ssh/
!.ssh/config
.stack/
.Trash/
.v8flags.*
.vault_pass.txt
.vim/
.viminfo
Applications/
Desktop/.localized
dev/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
