[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[github]
	user = tzemanovic
	oauth-token =
[user]
	name = Tomáš Zemanovič
	email = tzemanovic@gmail.com
	signingkey = FF013BAA7CE3C68274EF9B6F21A3AA0097EBB047
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/tz/.global-gitignore
[alias]
        # some aliases taken from https://kurtdowswell.com/software-development/git-bash-aliases/
        # logs
        l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        lg='git log --graph --oneline --decorate --all'

        a = add
        aa = add .
        ac = !git add -A && git commit -m
        ap = add -p
        c = commit --verbose
        ca = commit -a --verbose
        cam = commit -a -m
        cm = commit -m
        cp = cherry-pick
        d = diff
        dc = diff --cached
        ds = diff --stat
        m = commit --amend --verbose

        s = status -s
        co = checkout
        cob = checkout -b
        # list branches sorted by last modified
        b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

        # list aliases
        la = "!git config -l | grep alias | cut -c 7-"
